body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: content-box
    radial-gradient(rgb(201, 201, 201), rgb(105, 105, 105));
}

button {
  background-color: rgb(199, 199, 199);
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: lightblue;
}

svg {
  border: 2px solid black;
  background-color: rgb(199, 199, 199);
}

.navbar {
  margin: 20px;
}

g {
  margin: 0;
}

tspan {
  fill: white;
  font-size: 13px;
}

#tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: 14px sans-serif;
  background: rgb(255, 241, 181);
  border: 0px;
  border-radius: 8px;
}

.leave:hover {
  cursor: pointer;
}

.credits {
  letter-spacing: 3px;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .legend-container,
  .map-container {
    overflow-x: scroll;
  }
}
