body {
  margin: 0;
  padding: 0;
}

/* svg {
  display: block;
  margin: auto;
} */

g {
  margin: 0;
}

tspan {
  fill: white;
  font-size: 13px;
}

#tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: 14px sans-serif;
  background: rgb(255, 241, 181);
  border: 0px;
  border-radius: 8px;
}
